.li1{
    background: rgb(rgb(204, 22, 22))
}

.paragraph-2{
    background:rgb(255,255,255);
    box-shadow: 10px 5px 5px green;
    text-align: center;
    border-radius: 5px;
    border-color: brown;
    font-style: italic;
    font-size: 24px;
    width: 50%;
}

.div-1 {
    font-size: 20pt;
    margin-left: 60px;
    color:rgb(53, 201, 78);
    font-style: Bold;
}

.image-1 {
    border-radius: 15px;
}

body {
    background-image: url("1613131445_179-p-fon-zhelto-goluboi-gradient-211.jpg");
}