.paragraph-2{
    background:rgb(255,255,255);
    box-shadow: 10px 5px 5px green;
    text-align: center;
    border-radius: 5px;
    border-color: brown;
    font-style: italic;
    font-size: 24px;
    width: 50%;

}
.menu ul{
    background:rgb(0, 0, 0);
    color:rgb(255, 255, 255);
    display: inline;
    text-align:justify;
    padding: 10px 15px;
    
}

.menu ul:hover{
    color: rgb(5, 5, 5);
    background:rgb(255, 255, 255);
}  


.div-1{
    font-size: 20pt;
    color:rgb(53, 201, 78);
    font-style: Bold;
}



